{% extends 'base/main.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
{% include 'base/sidebar.html' %}

<div class="channel-info-container">
    <div class="channel-info">
        <div class="channel-info-left">
            <div class="channel-picture-container">
                <img class="channel-picture" src="{{ channel.get_picture_url }}">
            </div>
            <div>
                <p class="channel-name">
                    {{ channel.username }}
                </p>
                <p class="channel-subscribers">
                    {{ channel.get_subscribers_count }} Subscribers
                </p>
            </div>
        </div>
        <div class="channel-info-right">
            {% if channel == request.user %}
            <a href="{% url 'upload-video' %}" class="upload-video-button">UPLOAD VIDEO</a>
            <a href="{% url 'logout' %}" class="logout-button">LOGOUT</a>
            {% else %}
                {% if subscribed %}
                    <a class="watch-video-channel-subscribed" href="{% url 'subscribe-channel' channel.id %}">
                        SUBSCRIBED
                    </a>
                {% else %}
                <a class="channel-details-subscribe-button" href="{% url 'subscribe-channel' channel.id %}">
                    SUBSCRIBE
                </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="channel-options">
    <form method="GET">
        <button class="channel-option-item" name="q" value="videos">VIDEOS</button>
        <button class="channel-option-item" name="q" value="playlists">PLAYLISTS</button>
        <button class="channel-option-item" name="q" value="channels">CHANNELS</button>
        <button class="channel-option-item" name="q" value="information">INFORMATION</button>
    </form>
</div>
<div class="options-content-container">

    {% if current_option == 'playlists' %}
        <p class="option-name">
            No playlists yet...
        </p>
    {% elif current_option == 'channels' %}
        <p class="option-name">
            Channels subscribed
        </p>
        {% if subscriptions|length > 0 %}
        <div class="channels-container">
            {% for channel in subscriptions %}
            <div class="single-channel-container">
                <a class="channel-link" href="{% url 'channel-details' channel.id %}">
                    <img class="subsrciption-channel-picture" src="{{ channel.get_picture_url }}">
                    <p class="subscription-channel-name">
                        {{ channel.username }}
                    </p>
                </a>
                <p class="channel-subscribers">
                    {{ channel.get_subscribers_count }} subscribers
                </p>
                <button class="channel-subscribed">
                    SUBSCRIBED
                </button>
            </div>
            {% endfor %}
        </div>
        {% else %}
            This channel doesn't subscribe anyone
        {% endif %}
    {% elif current_option == 'information' %}
        <div class="info-container">
            <div>
                <div class="info-option-element">
                    <p class="info-option-text">Description</p>
                    <p></p>
                </div>
                <div class="info-option-element">
                    <p class="info-option-text">Details</p>
                    <p></p>
                </div>
                <div class="info-option-element">
                    <p class="info-option-text">Links</p>
                    <p></p>
                </div>
            </div>
            <div>
                <p class="stat-option-text">Statistics</p>
                <p class="stat-option-text">Date joined: 24 Dec 2021</p>
                <p class="stat-option-text">Views: 1223414</p>
            </div>
        </div>
    {% else %}
        <p class="option-name">
            Videos uploaded
        </p>
        {% if videos|length > 0 %}
        <div class="videos-container">
            {% for video in videos %}
            <div>
                <a class="video-link" href="{% url 'watch-video' video.id %}">
                    <img class="video-thumbnail" src="{{ video.thumbnail.url }}">
                    <p class="video-title">
                        {{ video.title }}
                    </p>
                </a>
                <p class="video-stats">
                    {{ video.views }} views &#183; {{ video.uploaded|timesince }} ago
                </p>
            </div>
            {% endfor %}
        </div>
        {% else %}
            This channel doesn't have any videos
        {% endif %}
    {% endif %}

</div>


{% endblock %}