{% extends 'base/main.html' %}

{% block title %}
  YouTube
{% endblock %}

{% block content %}
{% load static %}
    {% include 'base/header.html' %}
    {% include 'base/sidebar.html' %}
    <div class="videos-grid">
        {% for video in videos %}
        <div class="video-preview">
            <div class="thumbnail-row">
                <a href="{% url 'watch-video' video.id %}">
                    <img class="thumbnail" src="{{ video.get_thumbnail.url }}">
                    <div class="video-time">
                        {{ video.length }}
                    </div>
                </a>
            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <a href="{% url 'channel-details' video.channel.id %}">
                        <img class="profile-picture" src="{{ video.channel.get_picture_url }}">
                    </a>
                </div>
                <div class="video-info">
                    <p class="video-title">
                        {{ video.title }}
                    </p>
                    <p class="video-author">
                        {{ video.channel.name }}
                    </p>
                    <p class="video-stats">
                        {{ video.views }} views &#183; {{ video.uploaded.date }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}