{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: center; padding-bottom: 50px; padding-right: 72px;">
    <div class="login-view-container">
        <div class="youtube-logo-container">
            <img class="login-youtube-logo" src="{% static 'icons/youtube-logo.svg'%}">
        </div>
        <div class="login-form-container">
            <form method='POST'>
                {% csrf_token %}
                {{ form.email }}
                {{ form.username }}
                {{ form.password1 }}
                {{ form.password2 }}
                <div class="button-container">
                    <a href="{% url 'home' %}" class="back-button">
                        Back
                    </a>
                    <button class="red-login-button" type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}