{% extends 'base/main.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
{% include 'base/header.html' %}

<div class="watch-video-container">
    <div class="video-container">
        <video class="video" src="{{ video.video.url }}" type="video.mp4" controls></video>
        <p class="watch-video-title">{{ video.title }}</p>
        <div class="watch-video-info-container">
            <div class="watch-video-info-item">
                <p class="watch-video-views">{{ video.views }} views &#183; {{ video.uploaded }}</p>
            </div>
            <div class="middle-section-empty">

            </div>
            <div class="watch-video-info-item">
                <form method="POST" action="{% url 'like-video' video.id %}" class="watch-video-like-form">
                    {% csrf_token %}
                    
                    <button class="like-button" type="submit" value="{{ video.id }}">
                        {% if request.user not in video.likes.all %}
                            <span class="material-icons-outlined like-icon">
                                thumb_up
                            </span>
                        {% else %}
                            <span class="material-icons like-icon">
                                thumb_up
                            </span>
                        {% endif %}
                    </button>
                    <span id="total-likes" class="like-icon-text">{{ video.total_likes }}</span>
                </form>
            </div>

            <div class="watch-video-info-item">
                <form method="POST" action="{% url 'dislike-video' video.id %}" class="watch-video-dislike-form">
                    {% csrf_token %}
                    
                    <button class="dislike-button" type="submit" value="{{ video.id }}">
                        {% if request.user not in video.dislikes.all %}
                            <span class="material-icons-outlined dislike-icon">
                                thumb_down
                            </span>
                        {% else %}
                            <span class="material-icons dislike-icon">
                                thumb_down
                            </span>
                        {% endif %}
                    </button>
                    <span id="total-dislikes" class="like-icon-text">{{ video.total_dislikes }}</span>
                </form>
            </div>
       
            <div class="watch-video-info-item">
                <span class="material-icons-outlined video-icon">
                    share
                </span>
                <span class="like-icon-text">SHARE</span>
            </div>
            <div class="watch-video-info-item">
                <span class="material-icons-outlined video-icon">
                    content_cut
                </span>
                <span class="like-icon-text">CLIP</span>
            </div>
            <div class="watch-video-info-item">
                <span class="material-icons-outlined video-icon">
                    playlist_add
                </span>
                <span class="like-icon-text">SAVE</span>
            </div>
        </div>

        <div class="watch-video-channel-info">
            <div>
                <a href="{% url 'channel-details' video.channel.id %}">
                    <img class="watch-video-channel-image" src="{{ video.channel.get_picture_url }}">
                </a>
            </div>
            <div>
                <p class="watch-video-channel-name">{{ video.channel.username }}</p>
                <p class="watch-video-subscribers">{{ video.channel.get_subscribers_count }} Subscribers</p>
            </div>
            <div class="middle-section-empty">

            </div>
            {% if video.channel != request.user and request.user.is_authenticated %}
            <div>
                {% if subscribed %}
                    <a class="watch-video-channel-subscribed" href="{% url 'subscribe-channel' video.channel.id %}">
                        SUBSCRIBED
                    </a>
                {% else %}
                <a class="subscribe-button" href="{% url 'subscribe-channel' video.channel.id %}">
                    SUBSCRIBE
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="watch-video-description-container">
            {% if video.description %}
            {{ video.description }}
            {% endif %}
        </div>

        <div class="comment-filter-container">
            <div class="comment-filter-item">
                <p class="comment-text">{{ video.get_comments_count }} Comments</p>
            </div>
            <div class="comment-filter-item">
                <img class="sort-icon" src="{% static 'icons/sort.svg' %}">
                <span class="sort-icon-text">SORT BY</span>
            </div>
        </div>

        <div class="comment-form-container">
            <div class="comment-channel-picture-container">
                <img class="comment-channel-picture" src="{{ request.user.get_picture_url }}">
            </div>
            <div class="form-container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div>
                        <input name="comment_body" class="comment-form-input" type="text" placeholder="Add Comment" required>
                    </div>
                    <div class="comment-form-buttons">
                        <div>
                            <img class="emoji-icon" src="{% static 'icons/emoji.svg' %}">
                        </div>
                        <div class="middle-section-empty">

                        </div>
                        <div>
                            <button class="comment-button">CANCEL</button>
                            <button type="submit" class="comment-button">COMMENT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <div class="user-comments-container">
            {% for comment in comments %}
            <div class="user-comment-grid">
                <div>
                    <img class="comment-channel-picture" src="{{ comment.channel.get_picture_url }}">
                </div>
                <div>
                    <p class="comment-channel-name">{{ comment.channel.username }}
                        <span class="comment-date">
                            {{ comment.created|timesince }} ago
                        </span>
                    </p>
                    <p class="comment-body">{{ comment.body }}</p>
                    <div class="comment-reactions-flex">
                        <div class="comment-reactions-item">
                            <img class="comment-icon" src="{% static 'icons/thumb-up.svg' %}">
                            <span class="comment-icon-text">{{ comment.total_likes }}</span>
                        </div>
                        <div class="comment-reactions-item">
                            <img class="comment-icon" src="{% static 'icons/thumb-down.svg' %}">
                        </div>
                        
                        <div onclick="writeReply('reply-form-{{ comment.id }}')">
                            <button class="reply-button">
                              REPLY
                            </button>
                        </div>
                    </div>
                    <div id="reply-form-{{ comment.id }}" style="display: none">
                        <div class="reply-form-container">
                            <div>
                                <img class="reply-form-channel-picture" src="{{ request.user.get_picture_url }}">
                            </div>
                            <div class="form-container">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div>
                                        <input name="reply_body" class="reply-form-input" type="text" placeholder="Add reply..." required>
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    </div>
                                    <div class="reply-form-buttons">
                                        <div>
                                            <img class="reply-emoji-icon" src="{% static 'icons/emoji.svg' %}">
                                        </div>
                                        <div class="middle-section-empty">
                
                                        </div>
                                        <div>
                                            <button class="reply-button" onclick="writeReply('reply-form-{{ comment.id }}')">CANCEL</button>
                                            <button type="submit" class="reply-button">REPLY</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
        
                    {% if comment.get_replies_count > 0 %}
                    <button class="show-replies" onclick="showReplies('replies-{{ comment.id }}')">
                        <img class="arrow-icon" src="{% static 'icons/arrow-down.png' %}"> 
                        Show {{ comment.get_replies_count }} replies
                    </button>
                    {% endif %}
                    <div id="replies-{{ comment.id }}" style="display: none;">
                        {% for reply in comment.replies.all %}
                        <div class="reply-container">
                            <div class="user-reply-grid">
                                <div>
                                    <img class="reply-channel-picture" src="{{ reply.channel.get_picture_url }}">
                                </div>
                                <div>
                                    <p class="reply-channel-name">
                                        {{ reply.channel.username }} <span class="reply-date"> {{ reply.created|timesince }} ago</span>
                                    </p>
                                    <p class="reply-body">
                                        {{ reply.body }}
                                    </p>
                                    <div class="comment-reactions-flex">
                                        <div class="comment-reactions-item">
                                            <img class="comment-icon" src="{% static 'icons/thumb-up.svg' %}">
                                            <span class="comment-icon-text">{{ reply.total_likes }}</span>
                                        </div>
                                        <div class="comment-reactions-item">
                                            <img class="comment-icon" src="{% static 'icons/thumb-down.svg' %}">
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="side-videos-container">
        <div class="side-videos-sort">
            <button class="side-videos-button">All</button>
            <button class="side-videos-button">Similar</button>
            <button class="side-videos-button">Watched</button>
        </div>
        {% for video in side_videos %}
        <div class="side-video">
            <div class="side-video-thumbnail-container">
                <a href="{% url 'watch-video' video.id %}">
                    <img class="side-video-thumbnail" src="{{ video.thumbnail.url }}">
                </a>
            </div>
            <div class="side-video-info-container">
                <a class="side-video-link" href="{% url 'watch-video' video.id %}">
                    <p class="side-video-title">{{ video.title }}</p>
                </a>
                <p class="side-video-channel">{{ video.channel.username }}</p>
                <p class="side-video-views">{{ video.views }} views &bull; {{ video.uploaded|timesince }} ago</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
