.search-view-container {
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 90px;
}

.search-view-filter {
    display: flex; 
    align-items: center; 
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.filter-icon {
    height: 26px;
}

.filter-text {
    font-size: 16px; 
    font-weight: bold;
    color: rgb(105, 104, 104);
    margin-left: 10px;
}

.search-view-thumbnail {
    width: 100%;
    cursor: pointer;
}

.search-view-video-grid {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 12px;
    margin-bottom: 12px;
}

@media(max-width: 800px) {
    .search-view-video-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .search-view-video-description {
        display: none;
    }
}

@media(max-width: 600px) {
    .hamburger-menu,
    .search-view-filter,
    .middle-section,
    .upload-icon-container,
    .youtube-apps-icon-container,
    .sidebar {
        display: none;
    }
    .search-view-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .youtube-logo {
        height: 22px;
        margin-left: 6px;
    }
    .right-section {
        width: 120px;
        margin-right: 6px;
    }
    .search-icon-container {
        display: inline;
        cursor: pointer;
    }
}

.search-view-video-info {
    padding: 5px;
}

.search-view-video-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
    cursor: pointer;
}

.search-view-video-link {
    text-decoration: none;
    color: black
}

.search-view-video-details {
    margin: 0 0 6px 0;
    font-size: 13px;
    color: gray;
}

.search-view-channel-grid {
    display: flex;
    align-items: center;
    
}

.search-view-profile-picture {
    margin-top: 5px;
    width: 24px;
    border-radius: 50%;
    margin-right: 6px;
}

.search-view-channel-name {
    margin-top: 14px;
    font-size: 13px;
    color: gray;
}

.search-view-video-description {
    font-size: 12px;
    color: gray;
    margin: 0;
}