.upload-view-container {
    max-width: 600px;
}

.upload-view-title {
  font-size: 20px;
  font-weight: 500;
}

.top-section-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(220, 220, 220);
}


.upload-view-picture {
  min-width: 200px;
}

.video-requirements-list {
    margin-top: 30px;
    font-size: 14px;
    color: grey
}

.upload-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.title-input{
    padding: 10px;
    width: 290px;
    border: solid rgb(202, 202, 202) 1px;
    border-radius: 6px;  
    margin-bottom: 10px;
}

.textarea {
  font-family: Roboto, Arial;
  width: 290px;
  resize: none;
  height: 100px;
  border: solid rgb(202, 202, 202) 1px;
  border-radius: 6px; 
  padding: 10px;
}

.title-input::placeholder,
.textarea::placeholder {
    padding-left: 5px;
    font-family: Roboto, Arial;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

.video-upload-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 14px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #065fd4;
    cursor: pointer;
    width: 170px;
    margin-bottom: 10px;
}


.thumbnail-upload-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 14px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #065fd4;
    cursor: pointer;
    width: 210px;
}

.submit-button-container {
    margin-top: 20px;
}

.upload-submit-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #dd0000;
    color: white;
    font-family: Roboto, Arial;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}

.submit-button-arrow {
    margin-left: 10px;
}

@media(max-width:720px) {
    .top-section-container {
        flex-direction: column;
    }
}

@media(max-width: 650px) {
    .upload-form {
        grid-template-columns: 1fr;
    }
    .title-decription-container {
        margin-top: 10px;
    }
}