.watch-video-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 72px;
    padding-top: 80px;
}

.video-container {
    padding:10px;
}

.video {
    width: 100%;
    min-width: 400px;
    aspect-ratio: 16/9;
}

.watch-video-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.watch-video-info-container {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px rgb(202, 202, 202) solid;
    padding-bottom: 10px;
}

.comment-filter-container {
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.watch-video-info-item,
.comment-filter-item,
.share-icon-container,
.clip-icon-container,
.save-icon-container {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.more-icon-container {
    visibility: hidden;
}

.watch-video-views {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.middle-section-empty {
    flex: 1;
}

.video-icon,
.sort-icon,
.like-icon,
.dislike-icon {
    height: 20px;
}

.watch-video-like-form,
.watch-video-dislike-form {
    display: flex;
    align-items: center;
}

.like-button,
.dislike-button {
    margin-top: 5px;
    border: none;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.like-icon-text,
.sort-icon-text {
    font-size: 16px;
    font-weight: 500;
    margin-left: 6px;
}

.watch-video-channel-info {
    margin-top: 14px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.watch-video-channel-image {
    height: 48px;
    border-radius: 50%;
}

.watch-video-channel-name {
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-bottom: 4px
}

.watch-video-subscribers {
    font-size: 12px;
    margin-left: 12px;
    color: rgb(96, 96, 96)
}

.subscribe-button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #dd0000;
    border: none;
    border-radius: 2px;
    padding: 10px 18px 10px 18px;
    cursor: pointer;
    text-decoration: none;
}

.watch-video-channel-subscribed {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px 10px 18px;
    color: rgb(106, 106, 106);
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 2px;
    text-decoration: none;
}

.watch-video-description-container {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 20px;
    border-bottom: 1px rgb(202, 202, 202) solid;
}

.comment-text {
    font-size: 18px;
    margin-bottom: 0;
}

.comment-form-container {
    display:flex; 
    flex-direction: row; 
    align-items: center;
    padding-right: 30px;
}

.comment-channel-picture-container {
    width: 40px;
}

.comment-channel-picture {
    height: 40px; 
    border-radius: 50%
}

.form-container {
    flex:1;
    padding-left: 20px;
    padding-right: 20px;
}

.comment-form-input {
    width: 100%; 
    padding: 10px;
    background-color: rgb(248, 248, 248);
    border:none; 
    border-bottom: 1px rgb(202, 202, 202) solid;
    font-size: 16px;
}

.comment-form-buttons {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emoji-icon { 
    margin-left: 6px;
    height: 24px;
    opacity: 0.7;
}

.comment-button {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(71, 71, 71);
    background-color: rgb(248, 248, 248);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.comment-button:hover {
    background-color: rgb(199, 196, 196);
}
.side-videos-container {
    padding: 10px;
}

.side-videos-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.side-videos-button {
    padding: 8px 14px 8px 14px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(202, 202, 202) ;
    border-radius: 20px;
    cursor: pointer;
}

.side-videos-button:hover {
    background-color: rgb(218, 218, 218);
}

.side-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width: 600px) {
    .watch-video-container {
        padding: 0;
    }
    .video-container {
        padding: 0;
        z-index: 200;
    }
    .video {
        padding: 0;
        z-index: 300;
        position: fixed;
    }
    .watch-video-title,
    .watch-video-info-container,
    .watch-video-channel-info,
    .watch-video-description-container,
    .comment-filter-container,
    .comment-form-container,
    .user-comments-container {
        padding-left: 10px;
        padding-right: 10px
    }
    .watch-video-title {
        margin-top: 280px;
    }
    .side-video {
        display: block;
        margin-bottom: 20px;
    }
}

@media(max-width: 950px) {
    .watch-video-container {
        padding-right: 0px;
        grid-template-columns: 1fr;
    }
    .side-videos-sort {
        padding-top: 20px;
        border-top: 1px solid rgb(202, 202, 202);
    }
    .side-video {
        grid-template-columns: 180px 1fr;
    }
    .share-icon-container,
    .clip-icon-container,
    .save-icon-container {
        display: none;
    }
    .more-icon-container {
        visibility: visible;
    }
}

@media(min-width: 951px) {
    .watch-video-container {
        padding-left: 40px;
    }
}

@media(min-width: 1200px) {
    .watch-video-container {
        padding-left: 80px;
    }
}

.side-video-thumbnail-container {
    margin: 0 6px 6px 0;
    position: relative;
    width: 100%;
}

.side-video-time {
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.side-video-thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
}

.side-video-info-container {
    margin-top: 2px;
    margin-left: 4px;
}

.side-video-title {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 4px;
    
}

.side-video-link {
    text-decoration: none;
}

.side-video-channel {
    margin-bottom: 2px;
    font-size: 13px;
    color: rgb(96, 96, 96);
   
}

.side-video-views {
    margin-bottom: 0px;
    font-size: 13px;
    color: rgb(96, 96, 96);
}

